/* styles.css */

body {
    background-color: #121212;
    color: white;
}

.stApp {
    background-color: #121212;
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
}

p {
    color: white;
}

.sidebar .sidebar-content {
    background-color: #333333;
    color: white;
}

.sidebar .sidebar-content .block-container {
    background-color: #333333;
    color: white;
}

.sidebar .sidebar-content h1, 
.sidebar .sidebar-content h2, 
.sidebar .sidebar-content h3, 
.sidebar .sidebar-content h4, 
.sidebar .sidebar-content h5, 
.sidebar .sidebar-content h6 {
    color: white;
}

.sidebar .sidebar-content p {
    color: white;
}

.sidebar .sidebar-content label {
    color: white;
}

.sidebar .sidebar-content .css-1aumxhk, .sidebar .sidebar-content .css-1yy6isu {
    color: white;
    background-color: #333333;
}
